[submodule "Interface/external/libigl"]
	path = Interface/external/libigl
	url = git@github.com:libigl/libigl.git
[submodule "Packages/UnityNativeTool"]
	path = Packages/UnityNativeTool
	url = git@github.com:rogerbarton/UnityNativeTool.git
