# =============== #
# Unity generated #
# =============== #
Library/*
Temp/
Obj/
UnityGenerated/
Logs/
Assets/AssetStoreTools*
*.pidb.meta
sysinfo.txt

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
.vs/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
.idea/**/workspace.xml
.idea/**/deployment.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
*.iws

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ====== #
# Custom #
# ====== #
cmake-build*

Builds/
Assets/Plugins/Sirenix/
Assets/Plugins/Editor/JetBrains/
Assets/Plugins/Editor/JetBrains.meta
Assets/Logs.meta
Assets/Oculus/*
!Assets/Oculus/VR
!Assets/Oculus/VR.meta
Assets/Plugins/Sirenix.meta
Assets/Oculus.meta

Assets/Plugins/LibiglInterface/
Assets/Plugins/LibiglInterface.meta
Assets/Plugins/__libigl-interface.*
Assets/Plugins/libigl-editor.*
Assets/Plugins/UnityNativeTool/stubLluiPlugin.*
!Assets/Plugins/UnityNativeTool/stubLluiPlugin.dll

Assets/Main/

vr-modeling-build*

*.blend1*
*.blend2*
*.blend3*

Assets/Scripts/Editor/UnityBuildPipeline/

Assets/Scripts/Editor/UnityBuildPipeline.meta

Interface/docs/_build/

Interface/docs/doxygen/

Interface/docs/Doxyfile

.idea/.idea.vr-modeling/.idea/contentModel.xml

Assets/Main.meta

.idea/.idea.vr-modeling/.idea/indexLayout.xml

Report.md

docs/doxygen/

_build/

Doxyfile

docs/external/.idea/

.idea/.idea.vr-modeling/riderModule.iml

__pycache__/

docs/report/Report-Todo.md

*.tex

Tutorials.md

docs/report/todo.md
