[submodule "Interface/external/libigl"]
	path = Interface/external/libigl
	url = https://github.com/rogerbarton/libigl.git
[submodule "Packages/UnityNativeTool"]
	path = Packages/UnityNativeTool
	url = https://github.com/rogerbarton/UnityNativeTool.git
[submodule "docs/breathe"]
	path = docs/external/breathe
	url = https://github.com/rogerbarton/breathe.git
[submodule "docs/sphinx-csharp"]
	path = docs/external/sphinx-csharp
	url = https://github.com/rogerbarton/sphinx-csharp.git
